.owl-nav button.owl-prev span{
    font-size: 90px !important;
  display: inline-block;
    border-radius: 50%;
height: 50px !important;
width:  50px !important;
    background-color: #00000047;
}
.owl-dots button.owl-dot{
    background-color: black !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
    margin: 0 10px;
}
.owl-dots button.owl-dot.active{
background-color: red !important;
}